<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


	<system.serviceModel>
		<bindings>

		</bindings>
		<client>
   <endpoint address="http://localhost:8755/Service" behaviorConfiguration="ClientJBehavior"
    binding="webHttpBinding" contract="ServiceReference1.IService2" />
  </client>
  
		<services>
   <service behaviorConfiguration="BehaviorWS" name="WCF_Contract.ServiceJavaReceiver">
    <endpoint address="http://25.63.76.121:8775/ServiceJavaReceiver"
     binding="basicHttpBinding" bindingConfiguration="" contract="WCF_Contract.IServiceJavaReceiver" />
    <endpoint address="" binding="mexHttpBinding" contract="IMetadataExchange" />
    <host>
     <baseAddresses>
      <add baseAddress="http://25.63.76.121:8775" />
     </baseAddresses>
    </host>
   </service>
   <service behaviorConfiguration="BehaviorNetTCP" name="WCF_Contract.Service1">
    <endpoint address="net.tcp://localhost:8753/Service" binding="netTcpBinding"
     contract="WCF_Contract.IService1" />
    <endpoint address="net.tcp://localhost:8754/Service" binding="mexTcpBinding"
     contract="IMetadataExchange" />
   </service>
  </services>

		<!-- Behavior -->
		<behaviors>
   <endpointBehaviors>
    <behavior name="ClientJBehavior">
     <webHttp />
    </behavior>
   </endpointBehaviors>
   <serviceBehaviors>
    <behavior name="BehaviorNetTCP">
     <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
    <behavior name="BehaviorWS">
     <serviceMetadata httpGetEnabled="true" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
	</system.serviceModel>
</configuration>