<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


	<system.serviceModel>
		<services>
			<service name="WCF_Contract.Service1">
				<endpoint address="net.tcp://localhost:8753/Service" binding="netTcpBinding" contract="WCF_Contract.IService1"/>
				<endpoint address="net.tcp://localhost:8754/Service" binding="mexTcpBinding" contract="IMetadataExchange" />
			</service>
		</services>

		<!-- Behavior -->
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata/>
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>